@import "./sass/variables.scss";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
}

#root,
.App {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
.user-main {
  flex: 4;
  min-height: 100vh;
}

.blurb {
  width: 60%;
  margin: 75px auto;
}

.action-buttons {
  background-color: $green;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mega-phone {
  border: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  &--white {
    background-color: #fff;
    color: $darkGray;
  }
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 420px) {
  .blurb {
    width: 90%;
  }
}
