@import "./variables.scss";

.dropdown {
  width: 200px;
  list-style: none;
  margin: 0 auto;
  padding: 0.5em 1em;
  // position: absolute;
  left: 16px;
  top: 46px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 200px;
  overflow: scroll;
  li {
    font-size: 1em;
    border-bottom: 1px solid $mediumGray;
    padding: 0.5em 1em;
    width: 100%;
    cursor: pointer;
  }
  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.dropdown__active {
  display: flex;
}
