.nav {
  font-size: 1.5em;
  color: #fff;
  background-color: #4960c9;
  height: 250px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  > img {
    width: 100px;
    height: auto;
  }
  ul {
    font-size: 1.5em;
    color: #fff;
    margin: 0.7em;
    width: 175px;
    display: flex;
    align-items: flex-start;
    list-style: none;
  }
}

@media (max-width: 680px) {
  .nav {
    > a,
    img {
      width: 50px;
    }
  }
}
