@import "./variables.scss";

.userPage {
  flex: 1;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  top: 222px;
  color: #484c54;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  h4 {
    text-align: left;
    width: 90%;
  }
}

.header {
  height: 150px;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: $grayishBlue;
  height: 90px;
  border-radius: 5px;
  color: #fff;
  margin: 1em;
  h1 {
    flex: 2;
    padding-left: 1em;
  }
}

.sideLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  a {
    flex: 0.5;
    text-decoration: none;
    button {
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      color: $grayishBlue;
      i {
        font-size: 2em;
        color: $grayishBlue;
        margin: 10px 10px;
      }
    }
  }
}

.sideRight {
  width: 200px;
}

.userContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  max-width: 1200px;
}

.wordList {
  width: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats {
  margin: 1em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    margin: 0 1em 0.5em 0;
  }
  li:first-child {
    align-self: center;
  }
}

@media (max-width: 420px) {
  .userPage {
    width: 90%;
  }
}
