@import "./variables.scss";

.userPage {
  flex: 1;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #bec0c4;
  border-radius: 5px;
  position: absolute;
  left: 20%;
  top: 222px;
  color: #484c54;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  -webkit-box-shadow: 4px 3px 19px 5px rgba(72, 76, 84, 0.67);
  -moz-box-shadow: 4px 3px 19px 5px rgba(72, 76, 84, 0.67);
  box-shadow: 4px 3px 19px 5px rgba(72, 76, 84, 0.67);
  h4 {
    margin: 1em 0 0 0;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  a {
    flex: 1;
    text-decoration: none;
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  h1 {
    flex: 2;
  }
}

@media (max-width: 420px) {
  .userPage {
    width: 90%;
  }
}
