@import "./variables.scss";

.listitem {
  width: 240px;
  color: #fff;
  background-color: $grayishBlue;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1em;
  margin: 0 0 1em 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .listitem {
    width: 175px;
    margin-right: 1em;
  }
}

@media (max-width: 411px) {
  // .listitem {
  //   width: 90%;
  //   margin-right: 0.5em;
  // }
}
