@import "./variables.scss";

.wordCard {
  min-height: 400px;
  width: 90%;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  margin: 1em 0;
  nav {
    margin-top: 1.5em;
  }
  > ul {
    width: 100%;
    li {
      width: 100%;
    }
    ol {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      min-height: 140px;
      width: 80%;
    }
  }
}

.buttons {
  margin: 2em 0;
  a {
    text-align: center;
  }
  a:first-child {
    margin-right: 20px;
  }
}
